@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Gabarito&display=swap');

body {
    font-family: 'Gabarito', sans-serif;
    background-image: url('../assets/backgroundImage.jpg');
    background-size: 700px 700px;
}

.appName {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    font-weight: 700;
    cursor: default;
}

.link {
    color: black;
}
.link:hover {
    color: rgb(249, 123, 34);
}